<table class="index" id="listing_users" data-hook>
  <colgroup>
    <col style="width: 85%">
    <col style="width: 15%">
  </colgroup>
  <thead>
    <tr data-hook="admin_users_index_headers">
      <th><%= sort_link @search,:email, Spree.t(:user), {}, {:title => 'users_email_title'} %></th>
      <th>Admin?</th>
      <th data-hook="admin_users_index_header_actions" class="actions"></th>
    </tr>
  <hr>
  </thead>
  <tbody>
    <% @users.each do |user|%>
      <tr id="<%= spree_dom_id user %>" data-hook="admin_users_index_rows" class="<%= cycle('odd', 'even')%>">
        <td class='user_email'><%=link_to user.email, object_url(user) %></td>
        <td><%= user.admin? %></td>
        <td data-hook="admin_users_index_row_actions" class="actions">
          <%= link_to_edit user, :no_text => true %>
          <%= link_to_delete user, :no_text => true %>
        </td>
      </tr>
      <!-- <hr> -->
    <% end %>
  </tbody>
</table>