<% content_for :page_title do %>
  <%= Spree.t(:sales_totals) %>
<% end %>

<% content_for :page_actions do %>
  <%= back_to_list_button(Spree.t(:report), admin_reports_path) %>
<% end %>
<div class="well", style="align-text:left">
<%= link_to Spree.t(:pdf_report), {:contoller => "reports", :action => "sales_total_pdf"} , :target => '_blank', :class=> 'user_button' %>
</div>
  <%= render :partial => 'spree/admin/shared/report_order_criteria' %>
<table class="table table-bordered admin-report" data-hook="sales_total">
  <thead>
    <tr>
      <th><%= Spree.t(:currency) %></th>
      <th><%= Spree.t(:item_total) %></th>
      <th><%= Spree.t(:adjustment_total) %></th>
      <th><%= Spree.t(:sales_total) %></th>
    </tr>
  </thead>
  <tbody>
    <% @totals.each do |key, row| %>
      <tr>
        <td><%= key %></td>
        <td><%= row[:item_total].format %></td>
        <td><%= row[:adjustment_total].format %></td>
        <td><%= row[:sales_total].format %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<style>@media print {
  body {
    background: #FFF;
 }
}</style>