<table border="1" style="width:100%; margin-top:100px; margin-left:50px; margin-right:50px">
  <thead>
    <tr>
      <td style="float:center" colspan="4" valign="middle" align="center"><%= Spree.t(:currency) %></td>
      <td style="float:center" colspan="4" valign="middle" align="center"><%= Spree.t(:item_total) %></td>
      <td style="float:center" colspan="4" valign="middle" align="center"><%= Spree.t(:adjustment_total) %></td>
      <td style="float:center" colspan="4" valign="middle" align="center"><%= Spree.t(:sales_total) %></td>
    </tr>
  </thead>
  <tbody>
    <% @totals.each do |key, row| %>
      <tr>
        <td style="float:center" colspan="4" valign="middle" align="center"><%= key %></td>
        <td style="float:center" colspan="4" valign="middle" align="center"><%= row[:item_total].format %></td>
        <td style="float:center" colspan="4" valign="middle" align="center"><%= row[:adjustment_total].format %></td>
        <td style="float:center" colspan="4" valign="middle" align="center"><%= row[:sales_total].format %></td>
      </tr>
    <% end %>
  </tbody>
</table>