<h1>Editing Advertiser</h1>

<%= form_for @advertiser, url: advertiser_path, html: { method: :put } do |f| %>

 <% if @advertiser.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@advertiser.errors.count, "error") %> prohibited this advertiser from being saved:</h2>

      <ul>
      <% @advertiser.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div data-hook="admin_image_form_fields" class="row">
  <div class="col-md-6">
    <div data-hook="variant" class="form-group">
    <%= f.label :header %><br>
    <%= f.text_field :header %>
  </div>
  <div data-hook="file" class="form-group">
    <%= f.label :image, Spree.t(:filename) %><br>
    <%= f.file_field :image, class: 'form-control'%>
  </div>
  </div>
  <div data-hook="alt_text" class="col-md-6">
    <div class="form-group">
    <%= f.label :description %><br>
    <%= f.text_area :description, :rows => 4, :class => 'form-control' %>
  </div>
  </div>
  </div>
  <div class="form-actions" data-hook="buttons">
      <%= button Spree.t('actions.update'), 'save' %>
      <span class="or"><%= Spree.t(:or) %></span>
      <%= button_link_to Spree.t('actions.cancel'), advertisers_path %>
  </div>
  
<% end %>


