<p id="notice"><%= notice %></p>
<div class="new_advertise" style="float:right;"><%= button_link_to(Spree.t(:new_advertisement), spree.new_advertiser_path(@advertiser), { class: "btn-success", icon: 'add'}) %></div>
<h1>Listing Advertisers</h1>

<table class="table sortable" data-hook="images_table" >
  <thead>
    <tr data-hook="images_header">
        <th colspan="1">Header</th>
      <th>Description</th>
      <th>Image</th>
      <td class="actions actions-2 text-center">Actions</th>
    </tr>
  </thead>

  <tbody>
  <% unless @advertisers.nil? %>
    <% @advertisers.each do |advertiser| %>
      <tr  data-hook="images_row">
        <td><%= advertiser.header %></td>
        <td><%= advertiser.description %></td>
        <td class="image"><%= image_tag(advertiser.image, :size => "80x80") if advertiser.image?  %></td>
        <td class="actions actions-3 text-center"><%= link_to 'Edit', edit_advertiser_path(advertiser) %>
       <%= link_to 'Show', advertiser_path(advertiser) %>
       <%= link_to 'Delete', advertise_delete_advertiser_path(advertiser) %></td>
        
      </tr>
    <% end %>
    <% end %>
  </tbody>
</table>

<br>


<style >
     h1 {
     color: #8E8EB9;
     }
</style>
