<p id="notice"><%= notice %></p>



<p>
  <strong>Header:</strong>
  <%= @advertiser.header %>
</p>

<p>
  <strong>Description:</strong>
  <%= @advertiser.description %>
</p>

<p>
  <strong>Image:</strong>
  <%= image_tag(@advertiser.image, :size => "280x280") if @advertiser.image?  %>
</p>

<%= link_to 'Edit', edit_advertiser_path(@advertiser) %>
<%= link_to 'Back', advertisers_path %>
