<% if products.size > 0 %>
  <%# generate a random number for the carousel id - in case you want multiple per page %>
<% cid ||= Random.rand(5000) %>
  <div class="container">
  <div class="row">
  <div class="col-md-12">
  <div id="carousel-slider-<%= cid %>" class="carousel slide" data-ride="carousel" <%= (defined? interval) != nil ? "data-interval=#{interval.to_s}" : "" %>>
    <%# Indicators %>
    <!-- <ol class="carousel-indicators"> -->
        <%# products.each_with_index do |product, index| %>
          <!-- <li data-target="#carousel-prod-<%#= cid %>" data-slide-to="<%#= index %>" class="<%#= index == 0 ? 'active' : '' %>"> -->
          <!-- </li> -->
        <%# end %>
    <!-- </ol> <%# Wrapper for slider %>    -->
    <div class="carousel-inner">
      <% i = 1%>
      <% products.each_with_index do |product, index| %>
            <% if i == 1%> 
            <div class="item <%= index == 0 ? 'active' : '' %>">  
            <div class="row">
            <% end %>
                  <div id="product_<%= product.id %>" class="col-md-3 col-sm-6 product-list-item" data-hook="products_list_item" itemscope itemtype="https://schema.org/Product", number_of_products_per_row = '3';>
            			<% url = spree.product_url(product, taxon_id: @taxon.try(:id)) %>
        	       		  <div class="panel panel-default">
          	         	     <% cache(@taxon.present? ? [I18n.locale, current_currency, @taxon, product] : [I18n.locale, current_currency, product]) do %>
            	         		    <div class="panel-body text-center product-body">
            		          	   <%= link_to small_image(product, itemprop: "image"), url, itemprop: 'url' %><br/>
            		               <%= link_to truncate(product.name, length: 50), url, class: 'info', itemprop: "name", title: product.name %>
            	              	</div>
            		              <div class="panel-footer text-center">
            		                <%= display_price(product) %>
            		              </div>
          	         	     <% end %>
                 		  </div>
               	  </div>                
              <!-- <div class="carousel-caption">
              </div> -->
              <% i = i+1 %>
            <% if i == 5 or index == products.count-1 %>
              <% i = 1 %> 
            </div>
            </div>
            <% end%>   
      <% end %>
    </div>
    <%# Controls %>
      <a class="left carousel-control" href="#carousel-slider-<%= cid %>" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only"><%= t(:previous) %></span>
      </a>
      <a class="right carousel-control" href="#carousel-slider-<%= cid %>" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only"><%= t(:next) %></span>
      </a>
  </div>
  </div>
  </div>
  </div>
<% end %>
<style>
  
</style>
