<% if @products.nil? %>
<h4 style="color: #1C5C92; margin-left: 20px; margin-top: 20px;margin-bottom:300px;"><a href="/products">All Products</a></h4>
<% else %>
<h4 style="color: #1C5C92; margin-left: 20px; margin-top: 20px;"><a href="/products">All Products</a></h4>
<% end %>
<% cid ||= Random.rand(50000) %>
<div class="container">
  <div id="myCarousel" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
        <% @advts.each_with_index do |advt, index| %>
          <div class="item <%= index == 0 ? 'active' : '' %>"> 
          <div class="panel-body product-body" style="height:380px; width:1200px; padding-left:225px; ">
          <%= image_tag(advt.image, :size => "580x350")  %>
          <div class="carousel-caption">
              <h3><%= advt.header %></h3>
              <p><div style="max-width:500px; word-wrap:break-word; padding-left: 250px; color:black; font:16px; "><%= advt.description %></div>
              </p>
          </div>
          </div>
          </div>
        <% end%>
    </div>
        <ul class="nav nav-pills nav-justified">
          <% @advts.each_with_index do |advt, index| %>
            <li data-target="#myCarousel" data-slide-to="<%= index %>" class="<%= index == 0 ? 'active' : '' %>"><a href="#"><%= advt.header  %><small><%=truncate(advt.description, length: 16)   %></small></a>
            </li>
          <% end %>
        </ul>
  </div>
</div>

<% @taxons.each do |taxon| %>
<%#unless taxon.parent_id.nil? %>
      <% @products = taxon.products %>
      <% unless @products.count == 0 %>
      <h4 style="color: #1C5C92; margin-left: 20px; margin-top: 20px;"><b><%= taxon.name %> <%#= taxon.permalink.titleize %></b><b><hr></b></h4>
      <% end %>
      <% @taxonomies = Spree::Taxonomy.includes(root: :children) %>
       <div data-hook="homepage_products">
       
      <% cache(cache_key_for_products) do %>
        <div class="carousel-inner">
        <% unless @products.nil? %>
        <%= render :partial => 'spree/home/product', :locals => { :products => @products, :taxon => @taxon } %>
        <% end %>
        </div>
      <% end %>
      </div>
<% end %>

<style>
  /*h4 {
    color: #1C5C92;
    margin-left: 20px;
    margin-top: 20px;
}*/
hr { 
    display: block;
    margin-top: 1.5em;
    margin-bottom: 1.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
    border-color: green;
}
</style>
<script >
  $(document).ready( function() {
    $('#myCarousel').carousel({
      interval:   4000
  });
  
  var clickEvent = false;
  $('#myCarousel').on('click', '.nav a', function() {
      clickEvent = true;
      $('.nav li').removeClass('active');
      $(this).parent().addClass('active');    
  }).on('slid.bs.carousel', function(e) {
    if(!clickEvent) {
      var count = $('.nav').children().length -1;
      var current = $('.nav li.active');
      current.removeClass('active').next().addClass('active');
      var id = parseInt(current.data('slide-to'));
      if(count == id) {
        $('.nav li').first().addClass('active');  
      }
    }
    clickEvent = false;
  });
});
</script>